.todo {
    margin-top: 15px;
    background-color: rgb(26, 27, 43);
    width: 81%;
    height: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 0.01em;
    font-size: 14px;
}

.taskBtnContainer {
    display: flex;
    gap: 10px;
}

.taskBtn {
    cursor: pointer;
}

.taskBtn:hover {
    color: gray;
}

.taskBtn:active {
    color: white;
}

.completed {
    text-decoration: line-through;
}

.todo>p {
    cursor: pointer;
}